{{#vendorExtensions.x-custom-param}} {{#vendorExtensions.x-custom-param-annotation}}@{{vendorExtensions.x-custom-param-annotation}}{{/vendorExtensions.x-custom-param-annotation}} {{{dataType}}} {{paramName}}{{/vendorExtensions.x-custom-param}}