{{#vendorExtensions.x-multipart-param}} {{#vendorExtensions.x-multipart-param-annotation}}@{{vendorExtensions.x-multipart-param-annotation}}{{/vendorExtensions.x-multipart-param-annotation}} {{{dataType}}} {{paramName}}{{/vendorExtensions.x-multipart-param}}